* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	margin-bottom: 150px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

/* mini_main Section */
#mini_main .mini_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	max-width: 1200px;
	flex-direction: row-reverse;
}

#mini_main .mini_container_img {
	flex: 0 0 70%;
	display: flex;
	justify-content: center;
}

#mini_main .mini_container_text {
	flex: 0 0 30%;
	padding-left: 20px;
}

#mini_main .mini_container_img img {
	width: 100%;
	height: auto;
}

.mini_main h2 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: navy;
}

.mini_main p {
	color: green;
	margin: 5px 0 10px 0;
	font-size: 30px;
	font-weight: bold;
}

/* 가로선 추가 */
.divider {
	width: 1200px;
	height: 3px;
	background-color: #000;
	margin: 20px auto;
}

.mini_title h2 {
	margin-top: 50px;
	font-size: 40px;
	text-align: center;
}

/* mini_intro */
.mini_intro .mini_intro_container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1200px;
}

.mini_intro {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	max-width: 1200px;
	flex-direction: column;
	width: 100%;
}

/* mini_intro_container */
.mini_intro_container {
	display: flex;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
	gap: 30px;
}

/* mini_intro1 & mini_intro2 */
.mini_intro1, .mini_intro2 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.intro1_img, .intro2_img {
	flex: 1;
	max-width: 40%;
	padding-right: 20px;
}

.intro1_img img, .intro2_img img {
	width: 500px;
	height: 500px;
}

.intro1_text, .intro2_text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.intro1_text h3, .intro2_text h3 {
	color: #111;
	font-size: 40px;
	line-height: 52px;
	font-weight: bold;
	font-family: 'Yoon 윤고딕', sans-serif;
}

.intro1_text p, .intro2_text p {
	font-size: 40px;
	color: #949494;
	font-size: 40px;
	line-height: 52px;
	font-weight: bold;
	font-family: 'Yoon 윤고딕', sans-serif;
}

/* 하단 미니 바로가기 버튼 */
.shortcut-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 72px;
	background-color: #fff8b2;
	border-radius: 20px;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	transition: all 0.3s ease;
	position: relative;
	margin: 30px auto 0; /* 중앙 정렬 */
	margin-bottom: 50px;
}

.shortcut-button:hover {
	background-color: #ffffff;
	transform: translateY(-5px);
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.shortcut-button .button-content {
	text-align: center;
}

.shortcut-button .button-text {
	font-size: 28px;
	color: #6b6b6b;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}