<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" > <!-- 원본 -->



<!--
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"C:/Users/S/git/Spike/src/main/resources/mybatis-3-config.dtd"> 직접 파일 다운 
-->

<configuration>

    <settings>
      <setting name="jdbcTypeForNull" value="NULL" /> 
      <!-- mybatis에서 null값 insert,update시 에러가 발생하는 것을 방지하는 코드이다. -->
    </settings>
    
	<typeAliases>	
	    <!-- 이 파일의 역할은 데이터 저장빈 클래스 객체 별칭이름을 관리한다. -->
	    <typeAlias type="com.spike.dto.NoticeDTO" alias="notice" />
	    <typeAlias type="com.spike.dto.NotiPageDTO" alias="page" />
	         
	</typeAliases>
</configuration>
