@charset "UTF-8";
form {
    width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.loan-item {
	width: 800px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.form-group input[readonly] {
    background-color: #f0f0f0;
}

.form-group select {
	width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

/* 버튼 스타일 */
.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.submit-btn, .reset-btn, .reject-btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn {
    margin-right: 10px;
}

.reset-btn {
    margin-right: 10px;
}

.reject-btn {
    margin-right: 10px;
}

.submit-btn:hover {
    background-color: #45a049;
}

.reject-btn:hover {
    background-color: #e53935;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: 90%;
    }

    .form-group input {
        padding: 8px;
    }

    .form-buttons {
        flex-direction: column;
    }

    .submit-btn, .reset-btn {
        width: 100%;
        margin: 5px 0;
    }
}

.button-group {
    margin: 20px 0;
    text-align: center;
    display : flex;
}

.submit-btn, .reject-btn, .list-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
}

.reject-btn {
    background-color: #f44336;
    color: white;
}

.list-btn {
    background-color: #2196F3;
    color: white;
}

.submit-btn:hover, .reject-btn:hover, .list-btn:hover {
    opacity: 0.8;
}
