.dashboard1-box{
	max-width: 300px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex: 0 0 48% !important; /* 첫 번째 행 2개씩 배치 (50% - 간격 고려) */
    box-sizing: border-box;
}

.dashboard2-box{
	max-width: 800px;
	width:600px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex: 0 0 48% !important; /* 첫 번째 행 2개씩 배치 (50% - 간격 고려) */
    box-sizing: border-box;
}

.dashboard3-box, .dashboard4-box, .dashboard5-box{
	max-width: 800px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex: 0 0 30%; /* 두 번째 행 3개씩 배치 (33.33% - 간격 고려) */
    box-sizing: border-box;
}

.dashboard6-box{
	max-width: 800px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
	flex: 0 0 100%; /* 마지막 행은 1개만 차지 */
    box-sizing: border-box;
}

#board1{
	margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    /*white-space: pre-line;*/
}

.All-box1, .All-box2 , .All-box3{
	display: flex;
}

.Alldash {
    margin-left: 100px;
    text-align: center;
}

.footer-content h6 {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.footer-content p{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/* 링크 스타일 변경 */
a {
    color: black;           /* 검정색 글씨 */
    text-decoration: none;  /* 밑줄 제거 */
}

a:hover {
    color: blue;            /* 마우스 오버 시 파란색으로 변경 */
    text-decoration: underline;  /* 마우스 오버 시 밑줄 추가 */
}

    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center; /* 기본적으로 왼쪽 정렬 */
    }
    th {
        background-color: #f4f4f4;
    }
    td:last-child {
        text-align: center; /* 로그인 기록은 가운데 정렬 */
    }

