body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.subpage-main-container2 {
    display: flex;
    width: 1200px;
}
.notice-container {
    max-width: 800px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.notice-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.notice-info {
    margin-bottom: 20px;
}

.notice-info span {
    display: block;
    margin-bottom: 5px;
}

.notice-info span strong {
    font-weight: bold;
}

.notice-content {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    white-space: pre-line;
}

.attachments {
    margin-top: 20px;
}

.attachments ul {
    list-style: none;
    padding: 0;
}

.attachments ul li {
    margin-bottom: 5px;
}

.attachments ul li a {
    text-decoration: none;
    color: #007bff;
}

.attachments ul li a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.button-container a:hover {
    background-color: #0056b3;
}

.button-container2 {
    text-align: center;
    margin-top: 20px;
}

.button-container2 a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.button-container2 a:hover {
    background-color: #0056b3;
}

.button-container3 {
    text-align: center;
    margin-top: 20px;
}

.button-container3 a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.button-containe3r a:hover {
    background-color: #0056b3;
}

.button-Allcon {
    display: flex;
    justify-content: center; /* 버튼들을 가운데 정렬 */
    gap: 20px; /* 버튼 간 간격 */
    margin-top: 20px; /* 위쪽 여백 */
}
